.post-wrapper {
  color: white;
  margin-top: 100px;
  /* margin-bottom: 100px; */
  background-image: linear-gradient(#000000, #1e1e1e);
  border: 1px solid #000000;
}

.post-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 15px 0 18px;
}

.user-photo {
  display: flex;
  width: 64px;
  height: 20%;
  padding-right: 15px;
}

.user-pp {
  width: 64px;
  object-fit: fill;
  border-radius: 50%;
}
.user-info {
  min-width: 120px;
}

.user-info-username {
  font-size: 1.4em;
}

.post-detail {
  margin: 0 41px 0 95px;
}

.post-img > img {
  margin: 18px 0;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 2%;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 136px;
  padding-bottom: 20px;
  /* sağ dayalı 136px pd */
}

.post-icon {
  padding-right: 20px;
  display: flex;
  cursor: pointer;
}

.post-icon > svg:hover path {
  fill: rgb(165, 40, 40);
}

.post-icon > svg {
  padding-right: 7px;
}

.comment-wrapper {
  background-image: linear-gradient(#1e1e1e, #000000);
}

.comment-section {
  padding: 8px 41px 0 95px;

  color: #fff;
}

.comment-inputs {
  display: flex;
  width: 100%;
}
.comment-inputs > button {
  width: 10%;
  font-size: 2em;
  background: rgba(131, 131, 131, 0.5);
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
}
.comment-inputs > textarea {
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-size: 1.1em;
  padding-top: 10px;
}

.comment-detail {
  display: flex;
  padding: 40px 0 0 0;
  min-width: 580px;
}

.comment-p {
  display: flex;
  padding: 0 40px;
  margin: 0;
}
