@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.admin-table {
  margin: 100px 0;
  background-color: #262b36;
  border: 4px solid #f7f7f7;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #595d68;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 1em 0 1em 0;
}

.container td,
.container th {
  padding: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #2c3446;
}

.container th {
  background-color: #1f2739;
}

.container td {
  color: #fff;
}

.container td:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.action-buttons > button {
  /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.action-approve {
  background-color: green;
}
.action-cancelle {
  background-color: red;
}

.examine {
  cursor: pointer;
}
